# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# Flask
instance/
*.db

# Track migrations but ignore caches
migrations/**/__pycache__/
migrations/*.pyc
migrations/*.pyo

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
static/uploads/*
!static/uploads/.gitkeep

#files
compare.py
projects/forms.py
 