# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
.env

# Flask
instance/
*.db
migrations/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
static/uploads/*
!static/uploads/.gitkeep
